*{
    margin: 0;
    padding: 0;
}
hr{
    margin: 10px;
}
h2{
    margin: 10px;
}
input{
    height: 20px;
}
form input{
    margin: 15px;
}
body{
    background-color: rgb(64, 64, 64);
    color: white;
    /*Working at night*/
}
.is-flex{
    display: flex; 
    align-items: center; 
    margin-bottom: 20px; 
    box-shadow: 3px 3px 10px black;
    background-color: gray;
    padding: 10px;
}
.is-flex h3, .is-flex input{
    margin: 20px;
}
button{
    width: 3em;
    height: 3em;
    margin-right: 10px;
}
#delete:hover{
    background-color: red;
    color: white;
}
#edit:hover{
    background-color: white;
}
#save:hover{
    background-color: rgb(35, 106, 228);
    color:white;
}

